body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main{
    flex: 1 0 auto;
}
.img_logo{
    margin-left: 504.5px;
}
/*.fixed{
    position: fixed;
}*/
.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}